.azeret-mono{
    font-family: "Azeret Mono", monospace;
}


html {
    scroll-behavior: smooth;
}

.body{
    width: auto;
}
/***
header  start
***/
header{
    margin-bottom: 70px;
}
.nav{
    margin: 20px 40px;

    display: flex;
    justify-content: space-between;
    
}
.resume{
    background-color: white;
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.banner{
position: relative;
    height: 652px;
    background: url(assets/Hero-bg.png) no-repeat;
}

.group{
    margin-top: 30px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.banner>h1{
   text-align: center;
   padding-top: 300px;
   font-weight: 900;
   font-size: 48px;
}
.banner>p{
    text-align: center;
}
.banner>p>a{
    position: absolute;
    text-decoration: none;
    margin: 20px -100px;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
}
/***
header  end
***/

/*main start*/
.why{
    margin-bottom: 60px;
}
.why>h1{
    text-align: center;
   font-weight: 900;
   font-size: 48px;
}
.why>p{
    text-align: center;
}


.cardA{
    background-color: rgba(245, 222, 179, 0.348);
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    margin: 10px 0px;
    border-radius: 5px;
    transition: 0.5s ease-out;
}

    

.card1>h2{
    color: #0d1321c9;
    font-size: 24px;
    font-weight: bold;
}


.card1>p{
     margin-bottom: 100px;
}
.card1>a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 24px;
    border: 1px solid rgba(0, 0, 0, 0.553);
}

.cardA:hover{
    transform: scale(1.05);
}


.inspiration{
    text-align: center;
    margin: 50px 0px;
}

iframe{
    width: 1140px;
    height: 614px;
    
    border-radius: 10px;
}

.target{
    text-align: center;
    margin: 40px 0px;
}

.cards{
    display: flex;
    
    gap: 24px;
    
    justify-content: space-between;
}

.no{
    flex: 1;
    background-color: #f5deb37c;
    padding: 20px;
    transition: 0.5s;
}

.no>a{
    
    color: black;
}
.no:hover{
    transform: scale(0.9);
}

.support {
    position: relative; /* Make the support class relative for positioning the overlay */
    background: url(assets/handshake.jpg) no-repeat center;
    background-size: cover;
    height: 313px;
    text-align: center;
    padding: 30px;
    color: white;
    margin: 20px 0px;
    padding-top: 70px;
}

/* Pseudo-element for the dark overlay */
.support::before {
    content: ''; /* Required for the pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust this value for darker/lighter */
    z-index: 1; /* Place behind the text */
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

textarea {
    text-align: center;
    padding: 0px 40px;
    width: 313px;
    border-radius: 10px;
    padding-top: 10px;
}

input {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.support > * {
    position: relative;
    z-index: 2; 
}

/*main end*/

/*footer*/
footer {
    
    display: flex;
    justify-content: space-between;
    
    padding: 0px 40px;
    
}
footer>div>a>img{
    margin-top: 10px;
}