.azeret-mono{
    font-family: "Azeret Mono", monospace;
}


html {
    scroll-behavior: smooth;
}

.body{
    width: auto;
}
/***
header  start
***/
header{
    margin-bottom: 70px;
}
.nav{
    margin: 20px 40px;

    display: flex;
    justify-content: space-between;
    
}
.resume{
    background-color: white;
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.banner{
position: relative;
    height: 652px;
    background: url(assets/Hero-bg.png) no-repeat;
}

.group{
    margin-top: 30px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.banner>h1{
   text-align: center;
   padding-top: 300px;
   font-weight: 900;
   font-size: 48px;
}
.banner>p{
    text-align: center;
}
.banner>p>a{
    position: absolute;
    text-decoration: none;
    margin: 20px -100px;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
}
/***
header  end
***/

/*main start*/
.why{
    margin-bottom: 60px;
}
.why>h1{
    text-align: center;
   font-weight: 900;
   font-size: 48px;
}
.why>p{
    text-align: center;
}


.cardA{
    background-color: rgba(245, 222, 179, 0.348);
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    margin: 10px 0px;
    border-radius: 5px;
    transition: 0.5s ease-out;
}

    

.card1>h2{
    color: #0d1321c9;
    font-size: 24px;
    font-weight: bold;
}


.card1>p{
     margin-bottom: 100px;
}
.card1>a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 24px;
    border: 1px solid rgba(0, 0, 0, 0.553);
}

.cardA:hover{
    transform: scale(1.05);
}


/*main end*/

/*footer*/
footer {
    margin: 20px 0px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}